/* App.css */

/* Default light mode styles */
.App {
  font-family: 'Arial', sans-serif;
  background: radial-gradient(#f0ede5, #f0ede5);
  color: #333;
  margin: 0;
  height: auto;
}

/* Optional: You may want to add dark mode specific styles for other components here */
